body {
  background-color: #433636;
  color: #eee;
  font-family: 'Courier New', Courier, monospace;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  color: crimson;
  text-shadow: 2px 2px 5px black;
}

form {
  background-color: rgb(89, 86, 84);
  padding: 20px;
  margin: 30px auto;
  width: 500px;
  border: 2px solid crimson;
  border-radius: 10px;
  box-shadow: 0 0 1000px crimson;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  background-color: #222;
  color: #eee;
  border: 1px solid crimson;
  border-radius: 5px;
}

.gender {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.gender input {
  width: auto;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgb(72, 9, 72);
}
